<breadcrumbs></breadcrumbs>
<div class="container mg-40">
<div id="posts" class="small-thumbs">
	<div dir-paginate="item in items | filter:categoryFilter | itemsPerPage:1" class="entry clearfix">
		<div class="entry-image">
			<a ng-href="{{item.img}}" data-lightbox="image"><img class="image_fade" ng-src="{{item.img}}"></a>
		</div>
		<div class="entry-title">
			<h2><a ng-href="#!/blog/posts/{{item.slug}}">{{item.title}}</a></h2>
		</div>
		<ul class="entry-meta clearfix">
			<li><i class="icon-calendar3"></i> {{item.date * 1000 | date:"dd/MM/yyyy"}}</li>
			<li><a href="#"><i class="icon-user"></i> {{item.author}}</a></li>
			<li><i class="icon-folder-open"></i> <a href="#"> {{item.category}}</a></li>
		</ul>
		<div class="entry-content" ng-bind-html="item.body"></div>
		<a href="blog-single.html"class="more-link">Read More</a>
	</div>
</div>

<div class="center">
<dir-pagination-controls
   max-size="5"
   direction-links="true"
   boundary-links="true" >
</dir-pagination-controls>
</div>
</div>