<div id="modelDiv" class="container-fluid animated fadeInUp">
	<div class="col-md-8 col-md-offset-2">
		<h2>Timestamp generator</h2>
		<label for="timestampGen">Enter date below<br>dd/MM/yyyy Format</label>
		<input type="text" class="form-control" id="timestampGen">
		<br>
		<label for="mdlresult">Result</label>
		<textarea id="mdlresult" class="result well out-put" readOnly></textarea>
		<button class="btn btn-default shrink"  onclick="mdlresult.select(),copyToClp()" type="submit">Select</button>
		<button class="btn btn-default shrink" onclick="closeMdl()">Close</button>
	</div>
</div>