/**
* @ngdoc function
* @name ${module}.{{title | lower}}:${title}Ctrl
* @description
* # ${title}Ctrl
* Controller of ${module}
*/

angular.module('${module}')
	.controller('${title}Ctrl', function (${directives}) {

${contbody}

});