<div class="container">
<div class="col-md-8 col-md-offset-2">  

<table class="table">
   <thead>
      <tr>
      <th>Index</th>
        <th>date</th>
        <th>author</th>
		<th>slug</th>
        <th>title</th>
		<th>img</th>
        <th>body</th>
		<th>category</th>
      </tr>
    </thead>

    <tbody>
      <tr>
      <td></td>
        <td>{{results[i].date}} </td>
        <td>{{results[i].author}}</td>
		<td>{{results[i].slug}}</td>
		<td>{{results[i].title}} </td>
        <td>{{results[i].img}}</td>
		<td>{{results[i].body}}</td>
		<td>{{results[i].category}} </td>

      </tr>  
    <tbody>
</table>
</div>      
</div>