<div>
	<ul id="target"></ul>
</div>
<div class="debug-bar navbar-inverse navbar-fixed-bottom">
		
		<a class="fa fa-cog consoleToggle" data-toggle="tooltip" data-original-title="Console"></a>
		<a class="fa fa-arrows-alt" id="fs-doc-button" data-toggle="tooltip" data-original-title="Full-Screen mode"></a>
		<a href="/logs" class="fa fa-history" data-toggle="tooltip" data-original-title="Logs"></a>
		<a href="/recycle" class="fa fa-recycle" data-toggle="tooltip" data-original-title="Recycle bin"></a>
</div>

