<div id="modelDiv4" class="container">
	<h2>load from Flickr API</h2>
	<div class="opt_linkify opt_typographer opt__highlight result-as-html">
    <div class="container">
        <div class="form-inline demo-options">
            <div class="checkbox not-strict">
				<input id="html" type="checkbox">
                <label title="" class="_tip" data-original-title="enable html tags in source text">html </label>
            </div>
            <div class="checkbox not-strict">
				<input id="xhtmlOut" type="checkbox">
                <label title="" class="_tip" data-original-title="produce xtml output (add / to single tags (&lt;br /&gt; instead of &lt;br&gt;)">xhtmlOut </label>
            </div>
            <div class="checkbox not-strict">
				<input id="breaks" type="checkbox">
                <label title="" class="_tip" data-original-title="newlines in paragraphs are rendered as &lt;br&gt;">breaks </label>
            </div>
            <div class="checkbox not-strict">
				<input id="linkify" type="checkbox">
                <label title="" class="_tip" data-original-title="autoconvert link-like texts to links">linkify </label>
            </div>
            <div class="checkbox not-strict">
				<input id="typographer" type="checkbox">
                <label title="" class="_tip" data-original-title="do typographyc replacements, (c) -&gt; © and so on">typographer </label>
            </div>
            <div class="checkbox not-strict">
				<input id="_highlight" type="checkbox">
                <label title="" class="_tip" data-original-title="enable output highlight for fenced blocks">highlight </label>
            </div>
            
            <div class="checkbox">
				<input id="_strict" type="checkbox">
                <label title="" class="_tip" data-original-title="force strict CommonMark mode - output will be equal to reference parser">CommonMark strict </label>
            </div>

        </div>
    </div>
    <div class="container full-height">
        <div class="row full-height">
            <div class="col-md-6 col-sm-12 mb20">
                <div class="demo-control"><a href="#" class="source-clear">clear</a></div>
                <textarea class="source full-height ace-monokai ace_dark"></textarea>
            </div>
            <section class="col-md-6 col-sm-12 mb20">
                <div class="demo-control"><a href="#" data-result-as="html">html</a><a href="#" data-result-as="src">source</a><a href="#" data-result-as="debug">debug</a></div>
                <div class="result-html full-height"></div> <pre class="hljs result-src full-height"><code class="result-src-content full-height">
</code></pre> <pre class="hljs result-debug full-height"><code class="result-debug-content full-height"></code></pre> </section>
        </div>
    </div>
</div>
	<button class="btn btn-default mt10 shrink" onclick="closeMdl4()">Close</button>
</div>



