

form {
  margin: auto;
  padding-top: 2em;
}

input, label, select {
  display: block;
  clear: both;
}
input, select, textarea {
  margin-bottom: 1em;
}


.output {
  vertical-align: top;
  margin-top: 2em;
  display: inline-block;
  width: 45%;
  height: 67%;
  position: fixed;
}
.json {
    width: 100%;
    height: 400px;
    border-radius: 4px;
    background: #212121;
    color: white;
    box-shadow: 0 0 20px black;
    padding-left: 20px;
    padding-top: 20px;
}
#editor > div > h3 > div:nth-child(3) > div{background#333}
.openHours, .closeHours {
  float: left;
  width: 50%;
}

.days select {
  width: 75%;
}

.days span {
  float: left;
  width: 30%;
}
.days {
  clear: both;
}
.days label {
  width: 5%;
  display: block;
  float: left;
  clear: none;
}
.days span label {
  width: 25%;
}
.days input {
  width: 10%;
  float: left;
  clear: none;
}
.days span select {
  width: 50%;
  display: inline-block;
}
